/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: white;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    color: #999;
}

.btn{
    border-radius:30px;
}

.form-control{
    border-radius:30px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: white;
    color: black;
    transition: all 0.3s;
    overflow-y: scroll;
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); */
}

#navBarra {
    position: fixed;
    z-index: 998;
    width: 100%;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #101010;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 998;
    display: none;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1976D2; /* For browsers that do not support gradients */    
    background: linear-gradient(to right, #00796B, #004D40) /* Standard syntax (must be last) */
}
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    margin-top: 3px;
    font-size: 1.1em;
    display: block;
    color: gray;
}

#sidebar ul li a:hover {
    color: #757575;
    background: #EEEEEE;
}



#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #616161;
    font-weight: 600;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: none;
    position: absolute;
    right: 20px;
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.formato01{

    color: #434343;
}
.formato01Val{
    color: #434343;
    text-align: right; 
    font-size: 30px;
}

.formato02{

    color: #58892E;
}
.formato02Val{
    color: #58892E;
    text-align: right; 
    font-size: 30px;
}

.formato03{

    color: #2176AF;
}
.formato03Val{
    color: #2176AF;
    text-align: right; 
    font-size: 30px;
}

.formato04{

    color: #EC4137;
}
.formato04Val{
    color: #EC4137;
    text-align: right; 
    font-size: 30px;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  transform-origin: 50% 50%;
}

.sh{
    border-right: solid 1px;
    border-right-color: #ddd;
    border-left: solid 1px;
    border-left-color: #ddd;
    background-color: #F5F5F5;

}

#spinnerLoading {
  margin: 20px;
  width: 200px;
  height: 200px;
  margin-left: 40%; 
  margin-top: 7%;

}    

#spinnerLoadingMobile {
  margin: 20px;
  width: 200px;
  height: 200px;
  margin-left: 25%; 
  margin-top: 50%;

}  

.search-select{
    background: #E0E0E0;
}

